*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

:root{        /* Definir cor/valor para as variaveis */
    --background-color: #ffffff;
    --primary-color: #1e32e0e2;
    --border-color: #4e5157df;
    --text-color: #ffffff;
}

body{
    padding: 0;
    margin: 0;

    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
    color: var(--primary-color);
}

form{
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
    align-items: center;
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}

.todo-input{
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
    font: inherit;
    color: #000000;
}

.button-add{
    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    height: 100%;
    padding: 0 30px;
    font: inherit;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.todo{
    border: 2px solid var(--border-color);
    border-radius: 15px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-delete{
    position: absolute;
    top: 50;
    right: 0;
}